@model IEnumerable<Recruiting.Models.ScoutModels.ScoutListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScoutId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecruitId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.RegionRecruiting)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ScoutId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RecruitId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RegionRecruiting)
    </td>
    <td>
        @Html.ActionLink("New Role", "Edit", new {  id = item.ScoutId }) |
        @Html.ActionLink("Scout Info", "Details", new {  id=item.ScoutId  }) |
        @Html.ActionLink("Scout FIRED!", "Delete", new { id= item.ScoutId  })
    </td>
</tr>
}

</table>
<style>
    table{
        font-family:'Goudy Stout';
        font-weight:bold;
        color:blue;
    }
</style>
