@model IEnumerable<Recruiting.Models.Coach_Models.CoachListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoachId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionCoach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoachId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionCoach)
        </td>
        <td>
            @Html.ActionLink("New Coaching Position", "Edit", new {id = item.CoachId }) |
            @Html.ActionLink("SeeCoachInfo", "Details", new { id=item.CoachId }) |
            @Html.ActionLink("Fired!!", "Delete", new { id=item.CoachId })
        </td>
    </tr>
}

</table>
<style>
    table{
        font-family:Broadway;
        color:purple;
        font-weight:bold;
    }
</style>